---
title: about page
outClass: ''


---
{% extends "layouts/_layout-map.html" %}

{% block content %}
{% include "partials/_header.html" %}
<!--begin content-wrapper-->
<div class="content-wrapper how-work-page" >
	<!--begin container-->
	<div class="container container--pt-36" style="background-image: url('img/bg-texture-full.jpg'); background-color: #e4f2f5;">
		<!--begin l-->
		<div class="l">
			<h1 class="title ">About EnzexBTC</h1>
			<!--begin article-->
			<div class="article article--first-spec-text">
				<p>
					Enzex BTC is online cryptocurrency investment platform based in UK. <br>
					We are fast growing company in cryptocurrency market fields.
				</p>
				<p>
					Our activity is cryptocurrency trading and investing in alternative coins, as they can give a huge profits. This industry is at an early stage 
					and it's growing day by day. Now it is a great opportunity to generate a big profits from this market.
				</p>
				<p>
					For most of you Bitcoin is a new thing but don't worry you don't need to know all details you should just sit back and enjoy the ride. Our experts 
					are here to generate daily profits for our investors and our company.
				</p>
				<p>
					If you have been looking for user-friendly Bitcoin investment platform you are in the right place. Verum BTC offers three simple investment 
					plans just choose one and start earn with us every hour. You can take your initial investment back anytime after 48 hours of making deposit.
				</p>
				<p>
					The truth is, to give our investors a great opportunity to earn with us and increase their funds with us, the truth is important.
				</p>
			</div>
			<!--end article-->
			<!--begin two-btn-line-->
			<div class="two-btn-line">
				<a class="btn btn--red btn--i" href="#">Check the company</a>
				<a class="btn btn--red btn--i" href="#">Check the certeficate</a>
			</div>
			<!--end two-btn-line-->

		</div>
		<!--end l-->
	</div>
	<!--end container-->
	<!--begin map-block-->
	<div class="map-block">
		<!--begin l-->
		<div class="l">
			<!--begin maptwo-col-->
			<div class="mtwo-col">
				<div class="mtwo-col__left">
					Company number: 10836330
				</div>
				<div class="mtwo-col__right">
					Registered office address: 52 Pump Lane, Hayes, United Kingdom, UB3 3NT
				</div>
			</div>
			<!--end maptwo-col-->
			<div class="border-block">
				<div class="gmap" id="gmap"></div>
			</div>
		</div>
		<!--end l-->
		
	</div>
	<!--end map-block-->

</div>
<!--end content-wrapper-->
{% include "partials/_footer.html" %}
{% endblock %}
