---
title: faq page
outClass: ''

dropSection1: [
{
	title: 'What is EnzexBTC Limited?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.',
	id: '1'
},
{
	title: 'Which payment methods do you accept?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.',
	id: '2'
},
{
	title: 'Do you charge any fee for providing your investment services?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.',
	id: '3'
},
{
	title: 'Can I loose my investment?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.',
	id: '4'
},
{
	title: 'Are you protected from DDoS attacks?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.',
	id: '5'
}
]
dropSection2: [
{
	title: 'Who can become an investor of the program?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.',
	id: '6'
},
{
	title: 'I`m having trouble logging into my account, What do I need to do now?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.',
	id: '7'
},
{
	title: 'Can I change my email address?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.',
	id: '8'
},
{
	title: 'Can I change my bitcoin address?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.',
	id: '9'
},
{
	title: 'May I open several accounts in your program?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.',
	id: '10'
}
]
dropSection3: [
{
	title: 'How long will it take to add deposit amount into my account?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.'
},
{
	title: 'What is the minimum and maximum amount of deposit?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.'
},
{
	title: 'Can I make additional investments at any time?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.'
}
]
dropSection4: [
{
	title: 'Are there any fees charged on deposit?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.'
},
{
	title: 'How do I know the history of my transactions?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.'
},
{
	title: 'When is the reinvest (compound) option available?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.'
}
]
dropSection5: [
{
	title: 'What is the minimum amount that can be withdrawn?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.'
},
{
	title: 'How long does it take to process my withdrawal?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.'
},
{
	title: 'When & how can I request for a principal withdrawal, and is there a fee?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.'
},
{
	title: 'Do you charge any fees to withdraw funds?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.'
}
]
dropSection6: [
{
	title: 'Do you have referral program?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.'
},
{
	title: 'What is the referral commission?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.'
},
{
	title: 'Do i need an active deposit to earn a referral commission?',
	text: 'Enzex BTC Limited is cryptocurrency investment platform, Developed by professionals, to generate profit from Crypto-market.'
}
]
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header.html" %}
<!--begin content-wrapper-->
<div class="content-wrapper faq-page" style="background-image: url('img/bg-texture-full2.jpg'); background-color: #e4f2f5;">
	<!--begin l-->
	<div class="l">
		<h1 class="title faq-page__title">Frequently Asked Questions</h1>
		<!--begin faq-page__wrapper-->
		<div class="faq-page__wrapper">

			<section class="drop-section">
				<h2 class="drop-section__title">General questions</h2>
				{% for test in dropSection1 %}
				<!--begin drop-block-->
				<div class="drop-block ">
					<input class="drop-block__input" type="radio" id="{{test.id}}" name="faq-drop">
					<label for="{{test.id}}">
						<span class="drop-block__title ">
							<span>{{test.title}}
								<i class="drop-block__icon">{{mixins.icon('arrow-d')}}</i>
							</span>
						</span>
						<span class="drop-block__content ">
							{{test.text}}
						</span>
					</label>
				</div>
				<!--end drop-block-->
				{% endfor %}
			</section>

			<section class="drop-section">
				<h2 class="drop-section__title">Account questions</h2>
				{% for test in dropSection2 %}
				<!--begin drop-block-->
				<div class="drop-block ">
					<input class="drop-block__input" type="radio" id="{{test.id}}" name="faq-drop">
					<label for="{{test.id}}">
						<span class="drop-block__title ">
							<span>{{test.title}}
								<i class="drop-block__icon">{{mixins.icon('arrow-d')}}</i>
							</span>
						</span>
						<span class="drop-block__content ">
							{{test.text}}
						</span>
					</label>
				</div>
				<!--end drop-block-->
				{% endfor %}
			</section>

		</div>
		<!--end faq-page__wrapper-->
	</div>
	<!--end l-->
</div>
<!--end content-wrapper-->
{% include "partials/_footer.html" %}
{% endblock %}
