---
title: home page
outClass: ''
parallax: true
investTitleWhite: true

plans: [
{
	topline: 'STARTER',
	perc: '3.6%',
	aftperc: 'Dialy',
	hourly: '0.15% Hourly',
	min: 'Min: <strong>0.005</strong>',
	max: 'Max: <strong>10.00</strong>',
	bottext: 'Instant  withdrawal',
	class: 'plan-block--l '
},
{
	topline: 'MEDIUM',
	perc: '4.08%',
	aftperc: 'Dialy',
	hourly: '0.17% Hourly',
	min: 'Min: <strong>10.005</strong>',
	max: 'Max: <strong>50.00</strong>',
	bottext: 'Instant  withdrawal',
	class: 'plan-block--m'
},
{
	topline: 'PREMIUM',
	perc: '5.04%',
	aftperc: 'Dialy',
	hourly: '0.21% Hourly',
	min: 'Min: <strong>50.005</strong>',
	max: 'Max: <strong>100.00</strong>',
	bottext: 'Instant  withdrawal',
	class: 'plan-block--l plan-block--last'
}
]
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header.html" %}
<!--begin content-wrapper-->
<div class="content-wrapper">
	<!--begin hero-->
	<div class="hero" style="background-image: url('img/hero.jpg')">
		<!--begin l-->
		<div class="l">
			<h1 class="hero__title title-spec">
				<span>Lorem ipsum</span><br>
				<span>Dolor sit amet</span>
			</h1>
			<a class="btn btn--red btn--i" href="#">Join us</a>
		</div>
		<!--end l-->
	</div>
	<!--end hero-->
	<!--begin welcome-->
	<div class="welcome" style="background-image: url('img/bg-texture.jpg')">
		<!--begin l-->
		<div class="l">
			<h2 class="welcome__title title ">Welcome to EnzexBTC Limited</h2>
			<!--begin welcome__inner-->
			<div class="welcome__inner">
				<div class="welcome__text">
					<p>
						Our team has been working hard and finally we can present you our platform now 
						you can become part of the P2P crypto community worldwide. We are glad to welcome 
						all partners who follow the cryptocurrency market and wants to expand their investment 
						portfolio with us. If you have already heard about the existence of alternative payment 
						methods such as Bitcoin, Monero, Ethereum, and Litecoin, you should know that millions 
						of people around the globe not only pay for goods and services with their help, but also 
						earn well in the process of cryptomining and trading on exchanges of electronic 
						currencies also. Our investment platform is an afterthought of thoughtful planning 
						& development of our experts to provide you the most profitable investment solution 
						is possible.
					</p>
					<a class="btn btn--red btn--i" href="#">Read more</a>
				</div>
				<div class="welcome__img">
					<div class="welcome__img-wrapper">
						<img src="img/btc-img.png" alt="alt">	
					</div>
				</div>
			</div>
			<!--end welcome__inner-->
		</div>
		<!--end l-->
	</div>
	<!--end welcome-->
{% include "partials/_invest-plans.html" %}
{% include "partials/_cacl-block.html" %}
	<!--begin maximize-block-->
	<div class="maximize-block">
		<!--begin l-->
		<div class="l">
			<div class="two-col">
				<!--begin two-col__left-->
				<div class="two-col__left">
					<div class="maximize-block__img">
						<img src="img/maximize-img.png" alt="alt">
					</div>
				</div>
				<!--end two-col__left-->
				<!--begin two-col__right-->
				<div class="two-col__right maximize-block__right">
					<h2 class="maximize-block__title title">Want to maximize your profits?</h2>
					<div class="maximize-block__text">
						<p>Make huge profit with Enzex BTC Limited!</p>
						<p>We offer 5% affiliate commission.</p>
					</div>
					<a class="btn btn--red btn--i" href="#">Learn how</a>
				</div>
				<!--end two-col__right-->
			</div>
		</div>
		<!--end l-->
	</div>
	<!--end maximize-block-->
	<!--begin descr-blocks-->
	<div class="descr-blocks">
		<!--begin l-->
		<div class="l">
			<!--begin descr-blocks__inner-->
			<div class="descr-blocks__inner">
				<div class="descr-block">
					<div class="descr-block__img">
						<img src="img/banks-safe-box.png" alt="alt">
					</div>
					<h3 class="descr-block__title">
						Bank level security
					</h3>
					<div class="descr-block__text">
						<p>
							Our Comodo EV SSL Certificate guarantees 
							all your details and secure them
						</p>
					</div>
				</div>
				<div class="descr-block">
					<div class="descr-block__img">
						<img src="img/safe-zone.png" alt="alt">
					</div>
					<h3 class="descr-block__title">
						DDOS Secured
					</h3>
					<div class="descr-block__text">
						<p>
							Enzex BTC Limited uses the strongest 
							dedicated servers with high level protection
						</p>
					</div>
				</div>
				<div class="descr-block">
					<div class="descr-block__img">
						<img src="img/telemarketer.png" alt="alt">
					</div>
					<h3 class="descr-block__title">
						24/7 Support Team
					</h3>
					<div class="descr-block__text">
						<p>
							Ask us about anything you don`t understand, 
							our support team will glad to help you
						</p>
					</div>
				</div>
			</div>
			<!--end descr-blocks__inner-->
		</div>
		<!--end l-->
	</div>
	<!--end descr-blocks-->
</div>
<!--end content-wrapper-->
{% include "partials/_footer.html" %}
{% endblock %}
