	<!--begin calc-block-->
	<div class="calc-block">
		<div class="l">
			<h2 class="calc-block__title title">Calculate your profit</h2>
			<div class="calc-wrapper">
				<div class="field field--sm">
					<p class="field__title">Amount (BTC)</p>
					<input type="text" value="1">
				</div>
				<div class="field ">
					<p class="field__title">Daily profit</p>
					<input type="text" value="0.03600000">
				</div>
				<div class="field ">
					<p class="field__title">Weekly profit</p>
					<input type="text" value="0.25200000">
				</div>
				<div class="field ">
					<p class="field__title">Monthly profit</p>
					<input type="text" value="1.08000000">
				</div>
			</div>
		</div>
	</div>
	<!--end calc-block-->