<footer class="footer">
	<!--begin footer__menu-wrapper-->
	<div class="footer__menu-wrapper">
		<!--begin l-->
		<div class="l">
			<!--begin footer__menu-->
			<ul class="footer__menu">
				<li class="is-active"><a href="about.html">About us</a></li>
				<li><a href="investment.html">Investments</a></li>
				<li><a href="referral.html">Affiliate</a></li>
				<li><a href="faq-page.html">FAQ</a></li>
				<li><a href="terms.html">Terms</a></li>
				<li><a href="how-it-work.html">How it works</a></li>
				<li><a href="buy.html">Buy Bitcoins</a></li>
				<li><a href="support.html">Support</a></li>
				<li><a href="news.html">News</a></li>
			</ul >
			<!--end footer__menu-->
		</div>
		<!--end l-->
	</div>
	<!--end footer__menu-wrapper-->

	<!--begin l-->
	<div class="l">
		<!--begin footer__info-->
		<div class="footer__info">
			<a href="page.html" class="footer__logo">
				<img src="img/logo-f.png" alt="logo">
			</a>
			<p class="footer__address">
				52 Pump Lane, Hayes <br>
				United Kingdom, UB3 3NT

			</p>
			<div class="footer__phone">
				<p>Contact Phone:</p>
				<a href="telto:+441284530017">+441284530017</a>
			</div>
		</div>
		<!--end footer__info-->
		<!--begin footer__copy-->
		<div class="footer__copy">
			<p>© Copyright 2017  Enzex BTC Limited</p>
		</div>
		<!--end footer__copy-->		

	</div>
	<!--end l-->
</footer>