<header class="header">
	
	<!--begin header__wrapper-->
	<div class="header__wrapper">
		<div class="l header__top">
			<a class="soc-fb header__fb" href="#">
				<i>{{mixins.icon('facebook')}}</i>
			</a>
			<!--begin header__inner-->
			<div class="header__inner">
				<!--begin header__info-->
				<div class="header__info">
					<span>Last update: <strong>Nov 30, 2017</strong></span>
					<span>Started: <strong>Nov 21, 2017</strong></span>
					<span>Running days: <strong>9</strong></span>
					<span>Total accounts: <strong>1380</strong></span>
					<span>Total deposited: <strong><i>{{mixins.icon('btc')}}</i> 456.3432626</strong></span>
					<span>Visitors online: <strong>1354</strong></span>

				</div>
				<!--end header__info-->
				<!--begin header__date-line-->
				<div class="header__date-line">
					<span>30th of November 2017 08:56 AM</span>
				</div>
				<!--end header__date-line-->

				<!--begin header__main-content-->
				<div class="header__main-content">
					<!--begin header__logo-->
					<a class="header__logo" href="page.html">
						<img src="img/logo.png" alt="logo">
					</a>
					<!--end header__logo-->
					<!--begin header__price-->
					<div class="header__price">
						<span><i class="cripto-icon"><i>{{mixins.icon('btc')}}</i></i>BTC: $ 10 270</span>
						<span><i class="cripto-icon"><i>{{mixins.icon('eth')}}</i></i>ETH: $ 446.99</span>
						<span><i class="cripto-icon cripto-icon--ltc"><i>{{mixins.icon('ltc')}}</i></i>LTC: $ 88.367</span>
						<span><i class="cripto-icon"><i>{{mixins.icon('xmr')}}</i></i>XMR: $ 178.88</span>
					</div>
					<!--end header__price-->
					<!--begin header__btns-->
					<div class="header__btns">
						<button class="btn btn--blue js-popup-link" type="button" data-target="popup-login">{% if btnLogText %}{{btnLogText}}{% else %}Login{% endif %}</button>
						<button class="btn btn--red js-popup-link" type="button" data-target="popup-reg">{% if btnDasboardText %}{{btnDasboardText}}{% else %}Register{% endif %}</button>
					</div>
					<!--end header__btns-->
				</div>
				<!--end header__main-content-->
			</div>
			<!--end header__inner-->
		</div>
		<!--begin header__menu-->
		<div class="header__menu">
			<div class="mob-menu-btn js-mob-menu-btn"><span></span></div>
			<!--begin l-->
			<div class="l">
				<ul class="main-nav js-main-nav">
					<li class="is-active"><a  href="about.html">About us</a></li>
					<li><a href="investment.html"><span>Investments</span> </a></li>
					<li><a href="referral.html"><span>Affiliate</span></a></li>
					<li><a href="faq-page.html"><span>FAQ</span></a></li>
					<li><a href="terms.html"><span>Terms</span></a></li>
					<li><a href="how-it-work.html"><span>How it works</span></a></li>
					<li><a href="buy.html"><span>Buy Bitcoins</span></a></li>
					<li><a href="support.html"><span>Support</span></a></li>
					<li><a href="news.html"><span>News</span></a></li>
				</ul>
			</div>
			<!--end l-->

		</div>
		<!--end header__menu-->
		

	</div>
	<!--end header__wrapper-->



</header>
