				<!--begin cab-page__nav-->
				<nav class="cab-page__nav">
					<a class="is-active" href="#"><span>Account Overview</span></a>
					<a href="#"><span>Make Deposit</span></a>
					<a href="#"><span>Withdraw Fund</span></a>
					<a href="#"><span>Deposit List</span></a>
					<a href="#"><span>Deposit History</span></a>
					<a href="#"><span>Earning History</span></a>
					<a href="#"><span>Referral</span></a>
					<a href="#"><span>Account Setting</span></a>
					<a href="#"><span>Security Setting</span></a>
				</nav>
				<!--end cab-page__nav-->