<!--begin cab-content-->
<div class="cab-content">
	<div class="cab-content__title-block cab-content__title-block--min-half-width cab-content__title-block--bg-l">ACCOUNT BALANCE</div>
	<p class="cab-content__text-big cab-content__text-big--mb">4.456220000 BTC</p>
	<p class="cab-content__centered-text-bold">Choose a plan</p>
	<form action="">
		<!--begin cab-plans-->
		<div class="cab-plans">
			{% for test in plans %}
			<div class="plan-block  {{test.class}}">
				<div class="plan-block__topline">{{test.topline}}</div>
				<p class="plan-block__perc">{{test.perc}}</p>
				<p class="plan-block__after-perc">{{test.aftperc}}</p>
				<p class="plan-block__hourly">{{test.hourly}}</p>
				<p class="plan-block__min">{{test.min | safe}}</p>
				<p class="plan-block__max">{{test.max | safe}}</p>
				<p class="plan-block__bottom-text">{{test.bottext}}</p>
				<div class="radio">
					<input name="radio" id="{{test.radio}}" type="radio" >
					<label for="{{test.radio}}">
						<i class="radio__icon"></i>
						Select
					</label>
				</div>
			</div>
			{% endfor %}
		</div>
		<!--end cab-plans-->
		<!--begin centered-->
		<div class="centered">
			<div class="field ">
				<p class="field__title">Deposit amount (BTC)</p>
				<input type="text" value="1.40000000">
			</div>
		</div>
		<div class="centered">
			<button  class="btn btn--red btn--i ">Send</button>
		</div>
		<!--end centered-->
	</form>




</div>
<!--end cab-content-->
