<!--begin cab-content-->
<div class="cab-content">
	<div class="cab-content__title-block cab-content__title-block--black cab-content__title-block--mb-big cab-content__title-block--bg-l">REFERRALS: 2
	</div>
	<div class="cab-content__title-block cab-content__title-block--black cab-content__title-block--mb-big cab-content__title-block--bg-l2">ACTIVE REFERRALS: 2
	</div>
	<div class="cab-content__title-block cab-content__title-block--black cab-content__title-block--bg-l">
		TOTAL REFERRAL COMISSION: 0.21248210000 BTC
	</div>
</div>
<!--end cab-content-->
