<!--begin cab-content-->
<div class="cab-content">
	<div class="form">
		<form action="">
			<!--begin form__block-->
			<div class="form__block">
				<div class="cab-content__title-block  cab-content__title-block--mb-m">Detect IP Address Change Sensitivity
				</div>
				<!--begin radio-line-->
				<div class="radio-line">
					<div class="radio radio--mb">
						<input name="radio" id="1" type="radio" >
						<label for="1">
							<i class="radio__icon"></i>
							Disabled
						</label>
					</div>
					<div class="radio radio--mb">
						<input name="radio" id="2" type="radio" >
						<label for="2">
							<i class="radio__icon"></i>
							Medium
						</label>
					</div>
					<div class="radio radio--mb">
						<input name="radio" id="3" type="radio" >
						<label for="3">
							<i class="radio__icon"></i>
							High
						</label>
					</div>
					<div class="radio radio--mb">
						<input name="radio" id="8" type="radio" >
						<label for="8">
							<i class="radio__icon"></i>
							Paranoic
						</label>
					</div>
				</div>
				<!--end radio-line-->
			</div>
			<!--end form__block-->
			<!--begin form__block-->
			<div class="form__block">
				<div class="cab-content__title-block  cab-content__title-block--mb-m ">Detect Browser Change
				</div>
				<!--begin radio-line-->
				<div class="radio-line">
					<div class="radio radio--mb">
						<input name="radio2" id="4" type="radio" >
						<label for="4">
							<i class="radio__icon"></i>
							Disabled
						</label>
					</div>
					<div class="radio radio--mb">
						<input name="radio2" id="5" type="radio" >
						<label for="5">
							<i class="radio__icon"></i>
							Enabled
						</label>
					</div>
				</div>
				<!--end radio-line-->
			</div>
			<!--end form__block-->
			<div class="centered">
				<button  class="btn btn--red btn--i ">Set</button>
			</div>
		</form>
	</div>
</div>
<!--end cab-content-->
