<!--begin cab-content-->
<div class="cab-content">
	<div class="form">
		<form action="">

			<!--begin form__two-col-->
			<div class="form__two-col">
				<div class="field field--half">
					<p class="field__title">Full name</p>
					<input type="text" value="John Connor">
				</div>
				<div class="field field--half">
					<p class="field__title">Username</p>
					<input type="text" value="Terminator228">
				</div>
				<div class="field field--half">
					<p class="field__title">Password</p>
					<input type="password" value="dsfssdfsdfdsf">
				</div>
				<div class="field field--half">
					<p class="field__title">Repeat password</p>
					<input  type="password" value="dsfssdfsdfdsf">
				</div>
				<div class="field field--mb-50 field--half">
					<p class="field__title">E-mail</p>
					<input type="text" value="leemoore88@yandex.com">
				</div>
				<div class="field field--mb-50 field--half">
					<p class="field__title">Your bitcoin address</p>
					<input type="text" value="3FkenCiXpSLqD8L79intRNXUgjRoH9sjXa">
				</div>
			</div>
			<!--end form__two-col-->
			<div class="centered">
				<button  class="btn btn--red btn--i ">Change data</button>
			</div>
		</form>
	</div>
</div>
<!--end cab-content-->
