<!--begin cab-content-->
<div class="cab-content">
	<!--begin cabtwo-col-->
	<div class="cabtwo-col">
		<div class="cabtwo-col__left">
			<div class="cab-content__title-block cab-content__title-block--bg-l">ACCOUNT BALANCE</div>
			<p class="cab-content__text-big">4.456220000 BTC</p>
		</div>
		<div class="cabtwo-col__right">
			<div class="cab-content__title-block">PENDING WITHDRAWALS</div>
			<p class="cab-content__text-big">6.436780000 BTC</p>
		</div>
	</div>
	<!--end cabtwo-col-->
	<!--begin cab-content__justify-->
	<div class="cab-content__justify">
		<div class="cab-content__justify-item">
			<p class="mb mb--sm">Processing</p>
			<p>Bitcoin</p>
		</div>
		<div class="cab-content__justify-item">
			<p class="mb mb--md">Available</p>
			<p>2.43420000BTC</p>
		</div>
		<div class="cab-content__justify-item">
			<p class="mb mb--sm">Pending</p>
			<p>2.43420000BTC</p>
		</div>
		<div class="cab-content__justify-item cab-content__justify-item--long">
			<p class="mb mb--sm">Account</p>
			<p>3FkenCiXpSLqD8L79intRNXUgjRoH9sjXa</p>
		</div>
	</div>
	<!--end cab-content__justify-->



</div>
<!--end cab-content-->
