<!--begin popup js-popup-->
<div class="popup js-popup" data-popup="popup-reg-complete">
	<div class="popup__overlay js-popup-overlay">
		<!--begin popup content-->
		<div class="popup__content popup__content--pad-40 popup__content--570 js-popup-content">
			<div class="popup__close-btn js-popup-close"><i></i><i></i></div>
			<p class="popup__title popup__title--bold">Registration completed</p>
			<div class="popup__centered popup__centered--mb">
				<p>Thank you for joining our program.</p>
				<p>
					You are now an official Verum BTC member. You can login 
					to your account to start investing with us and use all 
					the services that are available for our members.
				</p>
			</div>
			<div class="popup__text-spec">
				<p>Do not provide your login and password to anyone!</p>
			</div>
		</div>
		<!--endpopup content-->
	</div>
</div>
<!--end popup js-popup-->