<!--begin popup js-popup-->
<div class="popup js-popup" data-popup="popup-reg">
	<div class="popup__overlay js-popup-overlay">
		<!--begin popup content-->
		<div class="popup__content popup__content--1030 js-popup-content">
			<div class="popup__close-btn js-popup-close"><i></i><i></i></div>
			<p class="popup__title popup__title--bold">Register new account</p>
			<div class="form">
				<form action="">
					<!--begin popup__two-col-->
					<div class="popup__two-col">
						<div class="field field--half">
							<p class="field__title">Full name</p>
							<input type="text" value="John Connor">
						</div>
						<div class="field field--half">
							<p class="field__title">Username</p>
							<input type="text" value="Terminator228">
						</div>
						<div class="field field--half">
							<p class="field__title">Password</p>
							<input type="password" value="dsfssdfsdfdsf">
						</div>
						<div class="field field--half">
							<p class="field__title">Repeat password</p>
							<input  type="password" value="dsfssdfsdfdsf">
						</div>
						<div class="field field--half">
							<p class="field__title">E-mail</p>
							<input type="text" value="leemoore88@yandex.com">
						</div>
						<div class="field field--half">
							<p class="field__title">Repeat e-mail</p>
							<input type="text" value="leemoore88@yandex.com">
						</div>
						<div class="field field--half">
							<p class="field__title">Your bitcoin address</p>
							<input type="text" value="3FkenCiXpSLqD8L79intRNXUgjRoH9sjXa">
						</div>
						<div class="field field--half">
							<p class="field__title">Upline</p>
							<input type="text" value="Upline">
						</div>
					</div>
					<!--end popup__two-col-->
					<div class="popup__centered popup__centered--mb">
						<div class="check">
							<input type="checkbox" id="check">
							<label for="check">
								<i class="check__icon">{{mixins.icon('check')}}</i>
								<span>I have read and agree with </span>
							</label>
							<a  class="link" href="#">Terms and Conditions.</a>
						</div>
					</div>
					<div class="popup__centered">
						<button  class="btn btn--red btn--i ">Register</button>
					</div>
				</form>
			</div>
		</div>
		<!--endpopup content-->
	</div>
</div>
<!--end popup js-popup-->