<!--begin popup js-popup-->
<div class="popup js-popup" data-popup="popup-login">
	<div class="popup__overlay js-popup-overlay">
		<!--begin popup content-->
		<div class="popup__content popup__content--430 js-popup-content">
			<div class="popup__close-btn js-popup-close"><i></i><i></i></div>
			<p class="popup__title">Login</p>
			<div class="form">
				<form action="">
					<div class="field">
						<p class="field__title">Username</p>
						<input type="text" value="Leemoore">
					</div>
					<div class="field field--mb-non">
						<p class="field__title">Password</p>
						<input type="text" value="1">
					</div>
					<div class="popup__link-line">
						<a  class="link js-popup-link" href="#"  data-target="popup-forgot">Forgot password?</a>
					</div>
					<button  class="btn btn--mb btn--red btn--i js-popup-link"  data-target="popup-login">Login</button>
					<div class="popup__text">
						<p>
							Don't have an account yet?
						</p>
					</div>
					<a  class="btn btn--red btn--i js-popup-link" href="#"  data-target="popup-reg">Register</a>
					<a  class="btn btn--red btn--i js-popup-link" href="#"  data-target="popup-reg-complete">registration complete</a>
				</form>
			</div>
		</div>
		<!--endpopup content-->
	</div>
</div>
<!--end popup js-popup-->