<!--begin popup js-popup-->
<div class="popup js-popup" data-popup="popup-forgot">
	<div class="popup__overlay js-popup-overlay">
		<!--begin popup content-->
		<div class="popup__content popup__content--570 js-popup-content">
			<div class="popup__close-btn js-popup-close"><i></i><i></i></div>
			<p class="popup__title popup__title--bold">Forgot password</p>
			<div class="form">
				<form action="">
					<div class="field field--full">
						<p class="field__title">E-mail</p>
						<input type="text" value="Leemoore">
					</div>
					<div class="popup__centered">
						<button type="submit" class="btn btn--red btn--i"  >Forgot</button>
					</div>
				</form>
			</div>
		</div>
		<!--endpopup content-->
	</div>
</div>
<!--end popup js-popup-->


