{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#fff">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" media="all" href="css/app.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Ubuntu:300,300i,400,500&amp;subset=cyrillic-ext" rel="stylesheet">
  {# {% include "../partials/_media-tags.html" %} #}
</head>
<body>

  <!-- BEGIN content -->
  <div class="out {{ outClass }}">
    {% block content %}{% endblock %}
  </div>
  {% include "components/_popup-login.html" %}
  {% include "components/_popup-forgot.html" %}
  {% include "components/_popup-reg.html" %}
  {% include "components/_popup-reg-complete.html" %}
  <!-- END content -->

  <!-- BEGIN scripts -->
  <script type="text/javascript" src="js/app.js"></script>
  <!-- END scripts -->
  <script>
    var map;
    var initMap =  function () {
      map = new google.maps.Map(document.getElementById('gmap'), {
        center: {lat: 51.5056581, lng: -0.4130737},
        zoom: 15,
        scrollwheel: false
      });

      var marker = new google.maps.Marker({
        position: {lat: 51.5056581, lng: -0.4130737},
        map: map,
        title: '52 Pump Lane, Hayes, United Kingdom'
      });

    };
  </script>
  <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA04VMqMvV-ifF4mtvOnsUkf3Lw9F9ivAg&callback=initMap"
  type="text/javascript"></script>
</body>
</html>
