.field
	display: inline-block
	vertical-align: top
	width: 230px
	+ubt
	color: $black
	margin-bottom: 30px
	+m
		margin-bottom: 15px
		display: block
		margin-left: auto
		margin-right: auto
	&--sm
		width: 130px
	&--full
		width: 100%
	&--470
		width: 470px
		+m
			margin-left: auto
			margin-right: auto
		+xs
			width: 100%
	&--half
		width: 50%
		+m
			width: 600px
		+xs
			width: 100%
	&--mb-non
		margin-bottom: 0
	&--mb-50
		margin-bottom: 50px
		+m
			margin-bottom: 15px
	&__title
		font-size: 18px
		margin-bottom: 5px
		text-align: left
	textarea, input
		display: block
		padding: 11px 15px
		width: 100%
		background-color: $white
		box-shadow: inset 0 0 4.6px 0.4px rgba(0, 0, 0, 0.4)
		font-size: 24px
		line-height: 1
		font-style: italic
		+placeholder
			color: $black
		+m
			font-size: 16px
			padding: 8px 15px
	textarea
		resize: none
		min-height: 230px
		+m
			min-height: 180px
.check
	display: inline-block
	vertical-align: top
	position: relative
	padding-left: 29px
	text-align: left
	&__icon
		display: inline-block
		vertical-align: top
		position: absolute
		width: 20px
		height: 20px
		background-color: $white
		box-shadow: inset 0 0 4.6px 0.4px rgba(0, 0, 0, 0.4)
		margin-right: 9px
		left: 0
		top: 5px
		svg
			position: relative
			top: -4px
			font-size: 17px
			fill: $blue
			+trans
			opacity: 0
			+m
				top: -2px
	input
		display: none
		&:checked + label
			svg
				opacity: 1
.radio
	display: inline-block
	vertical-align: top
	input
		display: none
		&:checked + label
			i
				&:after
					opacity: 1
	label
		cursor: pointer
		position: relative
		padding-left: 29px
		font-size: 18px
		+m
			font-size: 14px
			padding-left: 24px
	&__icon
		position: absolute
		left: 0
		top: 1px
		border-radius: 50%
		width: 20px
		height: 20px
		background-color: $white
		box-shadow: inset 0 0 4.6px 0.4px rgba(0, 0, 0, 0.4)
		+m
			top: -0px
			width: 16px
			height: 16px
		&:after
			content: ''
			+vcenter
			width: 10px
			height: 10px
			border-radius: 50%
			background: $blue
			opacity: 0
			+trans
			+m
				width: 8px
				height: 8px
	&--mb
		margin-bottom: 10px
.form
	&__two-col
		font-size: 0
		.field
			padding-right: 15px
			+m
				padding-right: 0
			&:nth-of-type(2n)
				padding-left: 15px
				padding-right: 0
				+m
					padding-left: 0
	&__text
		+rob
		line-height: 1.6
		margin-bottom: 24px
	&--mb
		margin-bottom: 50px
		+m
			margin-bottom: 25px
	&__block
		margin-bottom: 50px
		+m
			margin-bottom: 20px